# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/

# Backend
venv/
__pycache__/
*.pyc
.env
logs/

# Model
model/checkpoints/
model/weights/
model/cache/
model/*.bin
model/*.pt
model/*.pth
model/*.onnx
model/venv/
model/__pycache__/
model/*.pyc